effects/rain.spr
effects/rainsplash.spr
effects/ripple.spr
effects/snowflake.spr
/3dmfl*.spr
/640hud[1-9].spr
/640hud[1-2][0-9].spr
/black_smoke[1-4].spr
/c4.spr
/ch_sniper.spr
/ch_sniper2.spr
/defuser.spr
/fast_wallpuff1.spr
/gas_puff_01.spr
/grass_0[13].spr
/hud.txt
/ibackpack.spr
/ic4.spr
/ihostage.spr
/ikgrass[1-5].spr
/iplayer*.spr
/ledglow.spr
/left*.spr
/muzzleflash[1-4].spr
/observer.txt
/pistol_smoke[1-2].spr
/radar???.spr
/radaropaque640.spr
/radio.spr
/rifle_smoke[1-3].spr
/scope_arc*.tga
/shadow_circle.spr
/smokepuff.spr
/sniper_scope.spr
/snow.spr
/wall_puff[1-4].spr
/weapon_ak47.txt
/weapon_aug.txt
/weapon_awp.txt
/weapon_c4.txt
/weapon_deagle.txt
/weapon_elite.txt
/weapon_famas.txt
/weapon_fiveseven.txt
/weapon_flashbang.txt
/weapon_g3sg1.txt
/weapon_galil.txt
/weapon_glock18.txt
/weapon_hegrenade.txt
/weapon_knife.txt
/weapon_m249.txt
/weapon_m3.txt
/weapon_m4a1.txt
/weapon_mac10.txt
/weapon_mp5navy.txt
/weapon_p228.txt
/weapon_p90.txt
/weapon_scout.txt
/weapon_sg550.txt
/weapon_sg552.txt
/weapon_shield.txt
/weapon_shieldgun.txt
/weapon_smokegrenade.txt
/weapon_tmp.txt
/weapon_ump45.txt
/weapon_usp.txt
/weapon_xm1014.txt