shield/
/PG-150.mdl
/arcticorange.mdl
/arcticorangeT.mdl
/bag.mdl
/bigtree.mdl
/bush.mdl
/chick.mdl
/conveyor[1-3].mdl
/conveyor_turn.mdl
/dummyguerilla.mdl
/feather.mdl
/fern.mdl
/grass.mdl
/grass_01.mdl
/guerilla.mdl
/head.mdl
/hostage.mdl
/hostage0[1-8].mdl
/lv_bottle.mdl
/orange.mdl
/oranget.mdl
/grass_01.spr

/[pvw]_ak47.mdl
/[pvw]_aug.mdl
/[pvw]_awp.mdl
/[pvw]_c4.mdl
/[pvw]_deagle.mdl
/[pvw]_elite.mdl
/[pvw]_famas.mdl
/[pvw]_fiveseven.mdl
/[pvw]_flashbang.mdl
/[pvw]_g3sg1.mdl
/[pvw]_galil.mdl
/[pvw]_glock18.mdl
/[pvw]_hegrenade.mdl
/[pvw]_knife.mdl
/v_knife_r.mdl
/[pvw]_m249.mdl
/p_m3super90.mdl
/[pvw]_m3.mdl
/[pvw]_m4a1.mdl
/[pvw]_mac10.mdl
/[pvw]_mp5.mdl
/[pvw]_p228.mdl
/[pvw]_p90.mdl
/[pvw]_scout.mdl
/[pvw]_sg550.mdl
/[pvw]_sg552.mdl
/[pw]_shield.mdl
/v_shield_r.mdl
/[pvw]_smokegrenade.mdl
/[pvw]_tmp.mdl
/[pvw]_ump45.mdl
/[pvw]_usp.mdl
/[pvw]_xm1014.mdl
/w_assault.mdl
/w_backpack.mdl
/w_kevlar.mdl
/w_thighpack.mdl

/winebottle.mdl
/pallet.mdl
/pallet_with_bags.mdl
/pallet_with_bags2.mdl
/palmtree.mdl
/pi_bush.mdl
/pi_fern.mdl
/pi_outlamp1.mdl
/pi_shrub.mdl
/pi_stlamp.mdl
/pi_tree.mdl
/pi_tree[1-3].mdl
/pi_treeb.mdl
/pi_twig.mdl
/player.mdl
/pred_plant.mdl
/pshell.mdl
/qloader.mdl
/qtruck.mdl
/rshell.mdl
/rshell_big.mdl
/support[1-3].mdl
/truck.mdl

player/arctic/
player/gign/
player/gsg9/
player/guerilla/
player/leet/
player/sas/
player/terror/
player/unban/
player/vip/
player/urban/